USE [Logistica]
GO
/****** Object:  Table [dbo].[TableCategorias]    Script Date: 23/11/2025 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableCategorias](
	[CodigoDaCategoria] [int] NOT NULL,
	[NomeDaCategoria] [varchar](30) NULL,
	[Descricao] [varchar](100) NULL,
 CONSTRAINT [PK_TableCategorias] PRIMARY KEY CLUSTERED 
(
	[CodigoDaCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableClientes]    Script Date: 23/11/2025 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableClientes](
	[CodigoDoCliente] [char](10) NOT NULL,
	[NomeDaEmpresa] [varchar](70) NULL,
	[NomeDoContato] [varchar](70) NULL,
	[CargoDoContato] [varchar](50) NULL,
	[Endereco] [varchar](50) NULL,
	[Cidade] [varchar](25) NULL,
	[Regiao] [varchar](25) NULL,
	[CEP] [char](15) NULL,
	[Pais] [varchar](25) NULL,
	[Telefone] [char](20) NULL,
	[Fax] [char](20) NULL,
 CONSTRAINT [PK_TableClientes] PRIMARY KEY CLUSTERED 
(
	[CodigoDoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableDetalhesDoPeidido]    Script Date: 23/11/2025 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableDetalhesDoPeidido](
	[NumeroDoPedido] [int] NOT NULL,
	[CodigoDoProduto] [int] NOT NULL,
	[PrecoUnitario] [money] NULL,
	[Quantidade] [int] NULL,
	[Desconto] [float] NULL,
 CONSTRAINT [PK_TableDetalhesDoPeidido] PRIMARY KEY CLUSTERED 
(
	[NumeroDoPedido] ASC,
	[CodigoDoProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableFornecedores]    Script Date: 23/11/2025 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableFornecedores](
	[CodigoDoFornecedor] [int] NOT NULL,
	[NomeDaEmpresa] [varchar](70) NOT NULL,
	[NomeDoContato] [varchar](70) NOT NULL,
	[CargoDoContato] [varchar](40) NULL,
	[Endereco] [varchar](50) NULL,
	[Cidade] [varchar](25) NULL,
	[Regiao] [varchar](25) NULL,
	[CEP] [char](15) NULL,
	[Pais] [varchar](25) NULL,
	[Telefone] [char](20) NULL,
	[Fax] [char](20) NULL,
 CONSTRAINT [PK_TableFornecedores] PRIMARY KEY CLUSTERED 
(
	[CodigoDoFornecedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableFuncionarios]    Script Date: 23/11/2025 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableFuncionarios](
	[CodigoDoFuncionario] [int] NOT NULL,
	[Sobrenome] [varchar](30) NULL,
	[Nome] [varchar](30) NOT NULL,
	[Cargo] [varchar](40) NULL,
	[Tratamento] [char](10) NULL,
	[DataDeNasciemnto] [date] NULL,
	[DataDeContratacao] [date] NULL,
	[Endereco] [varchar](50) NULL,
	[Cidade] [varchar](25) NULL,
	[Regiao] [varchar](25) NULL,
	[CEP] [char](15) NULL,
	[Pais] [varchar](25) NULL,
	[TelefoneResidencial] [char](20) NULL,
	[Ramal] [char](5) NULL,
	[Observacoes] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoDoFuncionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablePedidos]    Script Date: 23/11/2025 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablePedidos](
	[NumeroDoPedido] [int] NOT NULL,
	[CodigoDoCliente] [char](10) NOT NULL,
	[CodigoDoFuncionario] [int] NOT NULL,
	[DataDoPedido] [date] NULL,
	[DataDeEntrega] [date] NULL,
	[DataDeEnvio] [date] NULL,
	[CodigoDaTransportadora] [int] NOT NULL,
	[Frente] [money] NULL,
	[NomeDoDestinatario] [varchar](50) NULL,
	[EnderecoDoDestinatario] [varchar](50) NULL,
	[CEPdeDestino] [char](15) NULL,
	[PaisDeDestino] [varchar](25) NULL,
	[CidadeDeDestino] [varchar](25) NULL,
	[RegicaoDeDestino] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroDoPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableProdutos]    Script Date: 23/11/2025 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableProdutos](
	[CodigoDoProduto] [int] NOT NULL,
	[NomeDoProduto] [varchar](50) NOT NULL,
	[CodigoDoFornecedor] [int] NOT NULL,
	[CodigoDaCategoria] [int] NOT NULL,
	[QuantidadePorUnidade] [char](30) NULL,
	[PrecoUnitario] [money] NULL,
	[UnidadeEmEstoque] [int] NULL,
	[UnidadePedidos] [int] NULL,
	[NivelDeReposicao] [int] NULL,
	[Descontinuado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoDoProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableTransportadora]    Script Date: 23/11/2025 13:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableTransportadora](
	[CodigoDaTransportadora] [int] NOT NULL,
	[NomeDaEmpresa] [varchar](30) NOT NULL,
	[Telefone] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoDaTransportadora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TableDetalhesDoPeidido]  WITH CHECK ADD  CONSTRAINT [FK_TableDetalhesDoPeidido_TablePedidos] FOREIGN KEY([NumeroDoPedido])
REFERENCES [dbo].[TablePedidos] ([NumeroDoPedido])
GO
ALTER TABLE [dbo].[TableDetalhesDoPeidido] CHECK CONSTRAINT [FK_TableDetalhesDoPeidido_TablePedidos]
GO
ALTER TABLE [dbo].[TableDetalhesDoPeidido]  WITH CHECK ADD  CONSTRAINT [FK_TableDetalhesDoPeidido_TableProdutos] FOREIGN KEY([CodigoDoProduto])
REFERENCES [dbo].[TableProdutos] ([CodigoDoProduto])
GO
ALTER TABLE [dbo].[TableDetalhesDoPeidido] CHECK CONSTRAINT [FK_TableDetalhesDoPeidido_TableProdutos]
GO
ALTER TABLE [dbo].[TablePedidos]  WITH CHECK ADD  CONSTRAINT [FK_TablePedidos_TableClientes] FOREIGN KEY([CodigoDoCliente])
REFERENCES [dbo].[TableClientes] ([CodigoDoCliente])
GO
ALTER TABLE [dbo].[TablePedidos] CHECK CONSTRAINT [FK_TablePedidos_TableClientes]
GO
ALTER TABLE [dbo].[TablePedidos]  WITH CHECK ADD  CONSTRAINT [FK_TablePedidos_TableFuncionarios] FOREIGN KEY([CodigoDoFuncionario])
REFERENCES [dbo].[TableFuncionarios] ([CodigoDoFuncionario])
GO
ALTER TABLE [dbo].[TablePedidos] CHECK CONSTRAINT [FK_TablePedidos_TableFuncionarios]
GO
ALTER TABLE [dbo].[TablePedidos]  WITH CHECK ADD  CONSTRAINT [FK_TablePedidos_TableTransportadora] FOREIGN KEY([CodigoDaTransportadora])
REFERENCES [dbo].[TableTransportadora] ([CodigoDaTransportadora])
GO
ALTER TABLE [dbo].[TablePedidos] CHECK CONSTRAINT [FK_TablePedidos_TableTransportadora]
GO
ALTER TABLE [dbo].[TableProdutos]  WITH CHECK ADD  CONSTRAINT [FK_TableProdutos_TableCategorias] FOREIGN KEY([CodigoDaCategoria])
REFERENCES [dbo].[TableCategorias] ([CodigoDaCategoria])
GO
ALTER TABLE [dbo].[TableProdutos] CHECK CONSTRAINT [FK_TableProdutos_TableCategorias]
GO
ALTER TABLE [dbo].[TableProdutos]  WITH CHECK ADD  CONSTRAINT [FK_TableProdutos_TableFornecedores] FOREIGN KEY([CodigoDoFornecedor])
REFERENCES [dbo].[TableFornecedores] ([CodigoDoFornecedor])
GO
ALTER TABLE [dbo].[TableProdutos] CHECK CONSTRAINT [FK_TableProdutos_TableFornecedores]
GO
